<!DOCTYPE html>
<style>

body {
  text-align: center;
}

</style>
<html lang="en">

<% include partials/_head %>

<br />
<body>

  <% if (id) {%>

  <ul>

    <% Object.keys(urls).forEach(shortURL => {%>

    <li>

      --> Full Length URL:

      <%= urls[shortURL].longURL %>

      <br />

      --> Shortened URL:

      <a href='<%= urls[shortURL].longURL %>' > /u/<%= shortURL %></a>
      <br />

      <% if (urls[shortURL].userID === id) { %>

      <form method="POST" action='/urls/<%= shortURL %>/delete'><input type="submit" value="Delete" /></form>
      <form action="/urls/<%= shortURL %>"><input type="submit" value="Edit" /></form>

      <% } %>

    </li>

    <% }); %>

  </ul>
  <p>
    Shorten New URL <a href='/urls/new'>Here</a>
  </p>

  <% } else { %>

  <p>
    Login or Register to start making and using shortend URLs
  </p>

  <% } %>

</body>
</html>
